# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
build/
dist/
*.egg-info/

# VSCode/IDE
.vscode/
.idea/
*.swp

# Docker
pgdata/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Excel/Uploads
*.xlsx
*.xls
uploads/ 